<%- include("head") -%>
    <header class ="box" id="heading">
        <h1><%= listTitle %></h1>
    </header>

    <div class="box">


        <% for (var i = 0 ; i < newListItems.length ; i++) { %>
        <div class="item">
            <input type="checkbox" name="item" id="to-do-check">
            <p> <%=  newListItems[i] %> </p>
        </div>
        <% } %>


        <form action="/" method="POST" class="item">
            <input type="text" name="items" id="item" autocomplete="off" autofocus autocapitalize="capitalized"
                placeholder="New Item">
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>

    </div>

<%- include("foot") -%>